
    html,body{
           background:#0e0e0e
}
header {
    background-color: #0e0e0e; 
    color: white;
    height: 60px;
    width: 100%;
    position: static;
    z-index: 10;
	}	
    #imagem_fundo{
    background:https://static.wixstatic.com/media/1e47b2_87d95aada80f45f9978d6c3846490b7c~mv2.gif;
    height: 100%;
    text-align: center;
    background-size: cover;
}
    #logo{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 1px;
    margin-left:-340px; 
    float left;
	}
	#título{
	color: #25CCF7;
	padding-top: 25%;
    font-size: 70px;
    line-height: 0.6;
    text-align: center;
    letter-spacing: 0.05em;
    }
	#subtitulo{
	color: #f78fb3;	 
    text-align: center;
    border-top: 3px solid #f8a5c2;
    text-shadow: 1px 1px #f8a5c2;
    }
    #fazer{
        background-size:#3dc1d3;
    }
    #acao{
    font-size: 20px;
    color: #0abde3;
    border: 1px white solid;
    padding: 10px 20px 10px 20px ;	
    }
    #menu {
    content: "\2022";  
    color: white;  
    font-weight: bold;
    float: right;
    list-style: none;
    margin-top:0px;
    margin-right:5%;
    letter-spacing:3px;
    text-transform:uppercase;
    transition:background-color 1s;
}
nav#menu a{
    color: #ff9f43;
}
li {
    padding:10px;
}
li:hover {
    background-color: white;
}
.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
#Desafio{
    color: #f368e0;
    padding-top: 3%;
    font-size: 50px;
    line-height: 0.6;
}
.centralizado{
    background-color:#0e0e0e;
    font-color:#d2dae2; 
}
#justificado{
    text-align: justify;
}
.destaque{
    background-size:black; 
}
#Coisas{
    color: #f368e0;
    font-size: 30px;
    text-align: center;
}
#fo{
    background-color: #c7ecee;
    float: left;
    width: 100%;
    height: 30%;
    color: rgb(10,10,10);
    margin:20px, 10px, 20px,10
    letter-spacing:2px;
    text-align: center;
    top:20px;
    line-height:30px;
}



